{% extends 'base.html' %}
{% block title %}Add a Game{% endblock %}

{% block content %}

<div align="center">
    <br>
    <div>
        <h1>Add Balance</h1>
    </div>
    <br>
    <div>
        <form method="POST" class="form-register" style="color:white">
            {{ form.hidden_tag() }}
            <table cellpadding="5">
                <tr>
                    <td>
                        {{ form.amount.label() }}
                    </td>
                    <td>
                        {{ form.amount(placeholder='10 - 200') }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.number.label() }}
                    </td>
                    <td>
                        {{ form.number(placeholder='16 Digit Card Number') }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.cvv.label() }}
                    </td>
                    <td>
                        {{ form.cvv(placeholder="3 Digit CVV") }}
                    </td>
                </tr>
            </table>
            <br>
            {{ form.submit(class="btn btn-lg btn-primary") }}
        </form>
    </div>
</div>
{% endblock %}