{% extends 'base.html' %}
{% block title %}Game Page{% endblock %}

{% block content %}
<div class="vertical-center">
    <form method="POST" class="form-register" style="color:white">
        {{ form.hidden_tag() }}
        <div class="grid-container">
            <div class="item1">
                <img src="{{game.image}}", height="500px", width="325px">
            </div>
            <div class="item2">
                <h4>{{ game.description }}</h4>
            </div>
            <div class="item3">
                {{ form.platform.label() }}&nbsp;&nbsp;{{ form.platform() }}&nbsp;&nbsp;
            </div>
            <div class="item4">
                {{ form.submit(class="btn btn-lg btn-primary", value='$'+game.price|string) }}
            </div>
        </div>
    </form>
</div>
{% endblock %}