{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}

<div align="center">
    <br>
    <div>
        <h1>Login</h1>
    </div>
    <br>
    <div>
        <form method="POST" class="form-register" style="color:white">
            {{ form.hidden_tag() }}
            <table cellpadding="5">
                <tr>
                    <td>
                        {{ form.email.label() }}
                    </td>
                    <td>
                        {{ form.email(placeholder="Email Address") }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.password.label() }}
                    </td>
                    <td>
                        {{ form.password(placeholder="Password") }}
                    </td>
                </tr>
            </table>
            <br>
            {{ form.submit(class="btn btn-lg btn-primary") }}
        </form>
    </div>
</div>
{% endblock %}
